{% extends 'accounts/base.html' %}
{% load tz %}
{% block content %}

{%  include 'accounts/status.html' %}

<br>

<br>

<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

				{{ myFilter.form }}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>	
</div>

<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary btn-block" href="{% url 'create_customer' %}">Create Customer</a>
			<br>
			<table class="table table-sm">
				<tr>
					<th>View</th>
					<th>Customer</th>
					<th>Phone</th>
				</tr>

				{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">View</a></td>
						<td>{{ customer.name }}</td>
						<td>{{ customer.phone }}</td>

					</tr>

				{% endfor %}
		

			</table>
	</div>
</div>

<div class="col-md-7">
	<h5>LAST 10 ORDERS</h5>
	<hr>
	<div class="card card-body">
		<a class="btn btn-primary btn-block" href="{% url 'create_order' %}">Create Order</a>
		<br>
		<table class="table table-sm">
				<tr>
					<th>Customer</th>
					<th>Product</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Quantity</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for order in orders %}
					<tr>
						<td>{{ order.customer.name }}</td>
						<td>{{ order.product }}</td>
						{% timezone "US/Pacific" %}
						<td>{{ order.date_created }}</td>
						{% endtimezone %}
						<td>{{ order.status }}</td>
						<td>{{ order.quantity }}</td>
						<td><a href="{% url 'update_order' order.id %}" class="btn btn-sm btn-success">update</a></td>
						<td><a href="{% url 'delete_order' order.id %}" class="btn btn-sm btn-danger">delete</a></td>

					</tr>

				{% endfor %}

			</table>
			



<div class="pagination">


    {% if orders.has_previous %}

        <a class="btn btn-outline-info mb-4 mr-2" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4 mr-2" href="?page={{ orders.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in orders.paginator.page_range %}
        {% if orders.number == num %}

            <a class="btn btn-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>

        {% elif num > orders.number|add:'-3' and num < orders.number|add:'3' %}

            <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>

        {% endif %}

    {% endfor %}

    {% if orders.has_next %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ orders.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ orders.paginator.num_pages }}">Last</a>
    {% endif %}
</div>




		</div>
	</div>

</div>

{% endblock %}